# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\puixd\Documents\gits\Semester2-Flow4\16-04-2021 - Cupcake Projekt\cupcakeproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
